.g-imagegrid {
    *, *:before, *:after {
        box-sizing: border-box !important;
    }
    .g-imagegrid-wrapper {
        @include display(flex);
        @include flex-flow(row wrap);
        @include flex-wrap(wrap);
        margin-left: -0.1rem;
        margin-right: -0.1rem;
    }
    .g-imagegrid-item {
        @include flex(0 0 auto);
        width: 100%;
        padding-left: 0.1rem;
        padding-right: 0.1rem;
        padding-bottom: 0.1rem;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        img {
            @include transition(all 0.35s);
            width: 100%;
            height: 100%;
        }
        .indicator {
            display: -webkit-flex;
            display: flex;
            -webkit-align-items: flex-end;
            align-items: flex-end;
            -webkit-justify-content: flex-end;
            justify-content: flex-end;
            color: $white;
            font-weight: $font-weight-light;
            font-style: normal;
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            div {
                flex: none;
                -webkit-flex: none;
                font-size: 20px;
                margin-right: 15px;
                .dir-rtl & {
                    margin-right: 0;
                    margin-left: 15px;
                }
                margin-bottom: 10px;
                opacity: 0;
                @include transform(scale(0));
                @include transition(all 0.35s);
            }
        }
        &:hover {
            z-index: 10;
            .g-imagegrid-link:before {
                opacity: 1;
                @include transform(scale(1));
            }
            .indicator div {
                opacity: 1;
                @include transform(scale(1));
            }
        }
    }
    .g-imagegrid-desc {
        margin: 1.5rem 0;
    }
    .g-imagegrid-link {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        @include transition(all 0.35s);
        &:before {
            color: $white;
            background: transparentize($accent-color-1, 20%);
            content: "";
            position: absolute;
            z-index: 1;
            opacity: 0;
            width: 100%;
            height: 100%;
            text-align: center;
            @include transform(scale(0));
            @include transition(all 0.35s);
        }
    }
    .g-imagegrid-2cols {
        .g-imagegrid-item {
            width: 50%;

            @include breakpoint(mobile-only) {
                width: 100%;
            }
        }
    }
    .g-imagegrid-3cols {
        .g-imagegrid-item {
            width: 33.33333%;

            @include breakpoint(tablet-range) {
                width: 50%;
            }

            @include breakpoint(mobile-only) {
                width: 100%;
            }
        }
    }
    .g-imagegrid-4cols {
        .g-imagegrid-item {
            width: 25%;
            @include breakpoint(tablet-range) {
                width: 50%;
            }
            @include breakpoint(mobile-only) {
                width: 100%;
            }
        }
    }
    .g-imagegrid-5cols {
        .g-imagegrid-item {
            width: 20%;
            @include breakpoint(tablet-range) {
                width: 33.33333%;
            }
            @include breakpoint(mobile-only) {
                width: 50%;
            }
        }
    }
}
