//-------------------------------------------//

// OWL CAROUSEL ORIGINAL STYLING

/*
*  Owl Carousel - Animate Plugin
*/
.owl-carousel .animated {
    -webkit-animation-duration: 1000ms;
    animation-duration: 1000ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
    z-index: 0;
}

.owl-carousel .owl-animated-out {
    z-index: 1;
}

.owl-carousel .fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/*
*  Owl Carousel - Auto Height Plugin
*/
.owl-height {
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
}

/*
*  Core Owl Carousel CSS File
*/
.owl-carousel {
    display: none;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    /* position relative and z-index fix webkit rendering fonts issue */
    position: relative;
    z-index: 1;
}

.owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
}

.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.owl-carousel.owl-loaded {
    display: block;
}

.owl-carousel.owl-loading {
    opacity: 0;
    display: block;
}

.owl-carousel.owl-hidden {
    opacity: 0;
}

.owl-carousel .owl-refresh .owl-item {
    display: none;
}

.owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    width: 100%;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transform: translate3d(0,0,0) !important;
}

.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    -webkit-transform-style: preserve-3d;
}

.owl-carousel.owl-text-select-on .owl-item {
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
}

.owl-carousel .owl-grab {
    cursor: move;
    cursor: -webkit-grab;
    cursor: -o-grab;
    cursor: -ms-grab;
    cursor: grab;
}

.owl-carousel.owl-rtl {
    direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
    float: right;
}

/* No Js */
.no-js .owl-carousel {
    display: block;
}

/*
*  Owl Carousel - Lazy Load Plugin
*/
.owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    -webkit-transition: opacity 400ms ease;
    -moz-transition: opacity 400ms ease;
    -ms-transition: opacity 400ms ease;
    -o-transition: opacity 400ms ease;
    transition: opacity 400ms ease;
}

.owl-carousel .owl-item img {
    transform-style: preserve-3d;
}

/*
*  Owl Carousel - Video Plugin
*/
.owl-carousel .owl-video-wrapper {
    position: relative;
    height: 100%;
    background: #000;
}

.owl-carousel .owl-video-play-icon {
    position: absolute;
    height: 80px;
    width: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    background: url("owl.video.play.png") no-repeat;
    cursor: pointer;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -webkit-transition: scale 100ms ease;
    -moz-transition: scale 100ms ease;
    -ms-transition: scale 100ms ease;
    -o-transition: scale 100ms ease;
    transition: scale 100ms ease;
}

.owl-carousel .owl-video-play-icon:hover {
    -webkit-transition: scale(1.3, 1.3);
    -moz-transition: scale(1.3, 1.3);
    -ms-transition: scale(1.3, 1.3);
    -o-transition: scale(1.3, 1.3);
    transition: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
    display: none;
}

.owl-carousel .owl-video-tn {
    opacity: 0;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    -webkit-transition: opacity 400ms ease;
    -moz-transition: opacity 400ms ease;
    -ms-transition: opacity 400ms ease;
    -o-transition: opacity 400ms ease;
    transition: opacity 400ms ease;
}

.owl-carousel .owl-video-frame {
    position: relative;
    z-index: 1;
}

/*
*  Owl Carousel - Nav & Dots
*/
.owl-nav {
    opacity: 1;
    @include transition(opacity 0.25s);
    @include breakpoint(small-mobile-range) {
        padding-bottom: $content-padding;
    }
    div {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 40px;
        height: 40px;
        display: inline-block;
        opacity: 1;
        color: $white;
        text-transform: uppercase;
        font-size: $core-font-size + 1;
        font-weight: $font-weight-bold;
        @include transition(all 0.25s);
        &:hover {
            color: $accent-color-1;
        }
        @include breakpoint(small-mobile-range) {
            position: relative;
        }
        &.owl-prev {
            margin-right: $content-padding * 5;
            @include breakpoint(small-mobile-range) {
                margin-right: $content-padding * 2;
            }
        }
        .dir-rtl & {
            left: 0;
            right: auto;

            &.owl-next {
                margin-left: $content-padding * 5;
                @include breakpoint(small-mobile-range) {
                    margin-left: $content-padding * 2;
                }
            }
        }
    }
    &.disabled {
      display: none;
    }
}
.owl-controls {
    @include breakpoint(small-mobile-range) {
        text-align: center;
    }
}

.owl-dots {
    .owl-dot {
        display: inline-block;
        background: transparentize($white, 50%);
        width: 15px;
        height: 15px;
        border-radius: 100%;
        margin: 0 0.1rem;
        background: transparent;
        border: 2px solid $white;
        @include transition(all 0.2s ease-out);
        &.active {
            background: $white;
        }
    }
}

.owlcarousel-offset {
    margin-right: -45px !important;
    margin-bottom: -45px !important;
    margin-left: -45px !important;
    @include breakpoint(mobile-only) {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
    position: relative;
    z-index: 2;
    &.size-100 {
        flex-basis: auto;
        width: auto;
    }
}

//-------------------------------------------//

.g-owlcarousel-layout-standard {
    .owl-item {
        .image {
            &:before {
                position: absolute;
                display: block;
                content: "";
                width: 50%;
                height: 100%;
                z-index: 1;
                top: 0;
            }
            &:before {
                @include linear-gradient(left, $accent-color-1 2%, rgba(0, 0, 0, 0));
                background-color: transparent;
            }
        }
    }
    .owl-dots {
        position: absolute;
        bottom: 0;
        margin: $content-margin + $content-padding;
    }
    .owl-nav {
        position: absolute;
        top: 0;
        left: 0;
        margin: $content-margin + $content-padding;

        div {
            position: relative;
            border-radius: 100%;
            &.owl-prev {
                margin-right: $content-margin;
            }
        }
    }
}

// THEME PARTICLES STYLING
.g-owlcarousel {
    &:hover {
        .owl-nav {
            opacity: 1;
        }
    }
}

.g-owlcarousel-item-wrapper {
    position: relative;
}

.g-owlcarousel-item-img {
    position: relative;
    &:after {
        position: absolute;
        content: "";
        height: 50%;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.g-owlcarousel-item-content-container {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    @include transform-style(preserve-3d);

    @include breakpoint(large-desktop-range) {
        width: $breakpoints-large-desktop-container;
    }
    @include breakpoint(desktop-range) {
        width: $breakpoints-desktop-container;
    }
    @include breakpoint(tablet-range) {
        width: $breakpoints-tablet-container;
    }
    @include breakpoint(large-mobile-range) {
        width: $breakpoints-large-mobile-container;
    }
    @include breakpoint(small-mobile-range) {
        width: 100%;
    }
}

.g-owlcarousel-item-content-wrapper {
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    height: 100%;
}

.g-owlcarousel-item-content {
    margin: $content-margin;
    padding: $content-padding;
    .g-owlcarousel-fullwidth & {
        width: 100%;
    }
    .g-owlcarousel-compact & {
        width: 50%;
        .center-block & {
            margin: auto;
        }
        @include breakpoint(desktop-range) {
            width: 65%;
        }
        @include breakpoint(tablet-range) {
            width: 75%;
        }
        @include breakpoint(mobile-only) {
            width: 100%;
        }
    }
}

.g-owlcarousel-item-title {
    font-family: get-font-family($font-family-default);
    font-size: $core-font-size + 2;
    color: $white;
    padding-bottom: $content-padding - 0.4;
    font-weight: $font-weight-ultrabold;
    text-transform: uppercase;
    position: absolute;
    top: 40%;
    left: 0;
    z-index: 2;
    margin: $content-margin + $content-padding;
}

.g-owlcarousel-item-desc {
    font-size: $core-font-size + 0.4;
    line-height: $core-line-height;
    font-weight: $font-weight-light;
    padding-bottom: $content-padding * 2;
    margin-bottom: $content-margin;
    @include breakpoint(mobile-only) {
        display: none;
    }
}

.g-owlcarousel-item-button {
    @include breakpoint(small-mobile-range) {
        padding: 0.25rem 1rem;
        font-weight: $font-weight-regular;
        font-size: $core-font-size - 0.2;
    }
}

// Testimonial Layout
.g-owlcarousel-layout-testimonial {
    .owl-stage-outer {
        overflow: visible;
        &:before, &:after {
            position: absolute;
            display: block;
            content: "";
            width: 1000px;
            height: 100%;
            z-index: 10;
            top: 0;
        }
        &:before {
            left: -1000px;
            @include linear-gradient(left, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0));
            background-color: transparent;
        }
        &:after {
            right: -1000px;
            @include linear-gradient(right, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0));
            background-color: transparent;
        }
    }
    .g-title {
        text-align: center;
        font-family: get-font-family($font-family-promo);
        font-size: $core-font-size - 0.34;
        font-weight: $font-weight-bold;
        opacity: 0.5;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    .g-owlcarousel-item-desc {
        font-family: get-font-family($font-family-serif);
        @include breakpoint(mobile-only) {
            display: block;
            padding-top: 2rem;
        }
        text-align: center;
        -webkit-transform: translate3d(0, 0, 0);
        padding: $content-padding;
        margin: $content-margin;
        font-size: $core-font-size + 1;
        line-height: $core-line-height - 0.5;
        font-weight: $font-weight-regular;
        font-style: italic;

        i {
            display: block;
            font-size: $core-font-size + 1;
            padding: $content-padding;
            margin: $content-margin;
        }

        .g-owlcarousel-item-title {
            font-family: get-font-family($font-family-default);
            font-weight: $font-weight-regular;
            font-style: normal;
            position: relative;
            opacity: 0.5;
            text-transform: none;
            font-size: $core-font-size;
            margin-top: $content-margin;
        }
    }

    .owl-dots {
        margin: $content-margin 0;
        text-align: center;
        vertical-align: middle;
        .owl-dot {
            vertical-align: middle;
            border-radius: 100%;
            margin: 0 0.1rem;
            background: transparent;
            border: 2px solid $white;
            @include transition(all 0.2s ease-out);
            &.active {
                background: $white;
            }
        }
    }
    .owl-nav {
        margin: $content-margin 0;
        text-align: center;
        div {
            position: relative;

            &.owl-prev {
                margin-right: $content-padding;
            }
        }
    }
}

// Showcase Layout
.g-owlcarousel-layout-showcase {
    position: relative;

    .owl-controls {
        @include breakpoint(tablet-range) {
            margin-top: $content-margin + $content-padding;
        }
        .owl-next {
            margin-right: $content-margin + $content-padding;
        }
    }

    .g-owlcarousel-item-title {
        font-weight: $font-weight-ultrabold;
        font-size: $core-font-size + 5rem;
        position: relative;
        text-transform: none;
        margin-left: 0;
        line-height: $core-line-height - 0.4;
        margin-top: $content-margin + $content-padding + 5rem;
        padding-bottom: 0;
        @include breakpoint(desktop-range) {
            font-size: $core-font-size + 4rem;
        }
        @include breakpoint(tablet-range) {
            font-size: $core-font-size + 2.8rem;
        }
        @include breakpoint(mobile-only) {
            font-size: $core-font-size + 2rem;
        }
    }
    .g-owlcarousel-item-desc {
        font-weight: $font-weight-light;
        font-size: $core-font-size + 1.5rem;
        line-height: $core-line-height - 0.3;
        opacity: 0.8;

        @include breakpoint(tablet-range) {
            font-size: $core-font-size + 1;
        }
        @include breakpoint(mobile-only) {
            display: block;
            font-size: $core-font-size + 0.5;
        }
    }
    .owl-item {
        opacity: 0;
        &.active {
            opacity: 1;
        }
    }
    .item {
        @include display(flex);
        @include flex-flow(row wrap);
        @include flex-wrap(wrap);
        width: 100%;
    }
    .g-owlcarousel-content-left {
        @include flex(0 1 60%);
        width: 60%;
        @include breakpoint(mobile-only) {
            @include flex(0 1 100%);
            width: 100%;
        }
        .g-owlcarousel-content-padding {
            padding-right: $content-padding + $content-margin * 2;
            @include breakpoint(mobile-only) {
                padding: 0;
            }
        }
    }
    .g-owlcarousel-content-right {
        .g-owlcarousel-content-padding {
            padding-right: $content-padding + $content-margin * 2;
            @include breakpoint(mobile-only) {
                padding: 0;
            }
        }
        @include flex(0 1 40%);
        width: 40%;
        @include breakpoint(mobile-only) {
            @include flex(0 1 100%);
            width: 100%;
        }
        -webkit-align-items: center;
        display: -webkit-flex;
        -webkit-align-items: center;
        display: flex;
        align-items: center;
        white-space: nowrap;
        -webkit-justify-content: flex-end;
        justify-content: flex-end;
        @include breakpoint(mobile-only) {
            -webkit-justify-content: center;
            justify-content: center;
        }
        i {
            font-size: $core-font-size + 10rem;
            color: transparentize($black, 80%);
            flex: 1;
            text-align: center;
            padding-right: 1rem;
            @include breakpoint(tablet-range) {
                font-size: $core-font-size + 7rem;
            }
            @include breakpoint(mobile-only) {
                font-size: $core-font-size + 7rem;
            }
        }
    }

}

.g-container-wrapper-panel {
    background: $white;
}

.g-container-wrapper {
    position: relative;
}

.g-container.carousel {
    position: relative;
    width: $breakpoints-large-desktop-container;
    @include breakpoint(desktop-range) {
        width: $breakpoints-desktop-container;
    }
    @include breakpoint(tablet-range) {
        width: $breakpoints-tablet-container;
    }
    @include breakpoint(large-mobile-range) {
        width: $breakpoints-large-mobile-container;
    }
    @include breakpoint(small-mobile-range) {
        width: $breakpoints-mobile-container;
    }
    padding: $content-padding + $content-margin;

    h2.g-title {
        font-family: get-font-family($font-family-promo);
        font-weight: $font-weight-bold;
        font-size: $core-font-size - 0.3;
        color: lighten($base-text-color, 20%);
        letter-spacing: 1px;
        text-transform: uppercase;;
    }
}

.g-owlcarousel-panel-container {
    @include display(flex);
    @include flex-flow(row wrap);
    @include flex-wrap(wrap);
    position: relative;

    .g-owlcarousel-panel {
        @include flex(0 0 auto);
        margin: 0px;
        width: 25%;
        @include breakpoint(tablet-range) {
            width: 50%;
        }
        @include breakpoint(mobile-only) {
            width: 50%;
        }
        display: inline-block;
        cursor: pointer;
        margin-bottom: 40px;
        &:after {
            content: '';
            background: darken($base-background, 5%);
            display: block;
            margin-top: $content-margin;
            height: 3px;
            width: 45px;
        }
        span {
            display: block;
            margin-right: 1rem;

            .dir-rtl & {
                margin-left: 1rem;
                margin-right: 0;
            }
        }
        a {
            display: block;
            width: 100%;
            height: 100%;
        }
        .g-owlcarousel-panel-title {
            color: $accent-color-1;
            font-family: get-font-family($font-family-promo);
            font-weight: $font-weight-bold;
            font-size: $core-font-size + 0.1;
            line-height: $core-line-height - 0.3;
        }
        .g-owlcarousel-panel-subtitle {
            color: $base-text-color;
            font-family: get-font-family($font-family-promo);
            font-weight: $font-weight-regular;
            font-size: $core-font-size;
        }
    }
}

.g-owlcarousel-panel-indicator {
    width: 96px;
    height: 50px;
    position: absolute;
    left: 0;
    z-index: 2;
    .dir-rtl & {
        left: 200px;
    }
    @include transition(all 0.2s ease-out);
    top: -($content-margin + $content-padding + 0.95rem);
}
