// Contact Form
#contact {
    padding: 19px;
    margin-bottom: 20px;
    .form-message {
        margin-bottom: 15px;

        & + .form-field  {
            margin-top: 15px;
        }
    }

    .form-field {
        margin-bottom: 1.5rem;

        .form-data {
            margin-left: 100px;
            @include breakpoint(mobile-only) {
                margin-left: 0;
            }

            input, textarea {
                border: 2px solid $base-border-color;
                background: $white;
                border-radius: 6px;
                font-style: italic;
                line-height: normal;
                box-shadow: none;
            }

            textarea {
                padding-top: 10px;
                min-height: 226px;
            }

            input[type="checkbox"] {
                margin-top: 0.5rem;
            }
        }

        .form-label {
            float: left;
            padding-top: 5px;
            text-align: right;
        }
    }

    .buttons {
        margin-left: 100px;
        @include breakpoint(mobile-only) {
            margin-left: 0;
        }

        .button {
            font-family: get-font-family($font-family-default);
            font-weight: $font-weight-regular;
            font-size: $core-font-size - 0.1;
            line-height: $core-line-height + 0.3;
            margin: 0 0 0.5rem 0;
            padding: 0.8rem 1.8rem;
            border-radius: 2px;
            vertical-align: middle;
            text-shadow: none;
            border-radius: 3px;
            border-radius: $border-radius;
            color: $base-text-color !important;
            background: darken($base-background, 12%);
            border: 0;
            box-shadow: none;
            padding: 4px 12px;
        }
    }
}

legend {
    color: $base-text-color;
    font-family: get-font-family($font-family-title);
    font-weight: $font-weight-bold;
    font-size: $core-font-size + 0.5;
    line-height: $core-line-height;
    margin: 1rem 0;
}
