#g-extension {
    background: $extension-background;
    color: $extension-text-color;
    padding: 5rem 0;

    .g-blockcontent {
        .g-blockcontent-subcontent-img {
            border-radius: 100%;
            max-width: 50px;
        }
        .fa {
            opacity: 0.3;
            @include transition(all 0.2s ease-out);
            &:hover {
                opacity: 1;
            }
        }
    }
}

@media print {
    #g-extension {
        background: #fff !important;
        color: #000 !important;
    }
}
