#g-showcase, #g-container-showcase {
    background: $showcase-background;
    color: $showcase-text-color;
    padding: 5rem 0;
}

@media print {
    #g-showcase, #g-container-showcase {
        background: #fff !important;
        color: #000 !important;
    }
}
